.container-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-first input {
    text-align: center;
}


.main-head {
    background-color:rgb(165, 43, 43);
    text-align: center;
    padding: 1rem;
    margin-top: -1rem;

}

.container-first div {

    margin-top: 2rem;
    font-size: xx-large;
}

#angle1,
#angle2,
#angle3 {

    text-align: center;
}

#base,
#height {
    text-align: center;
}


#submit,
#calculate {
    background-color:rgb(165, 43, 43);
    font-size: larger;
    border-radius: 2rem;
    ;
}

#submit_answer {
    background-color: rgb(165, 43, 43);
    font-size: larger;
    border-radius: 2rem;
    margin-left: 43rem;
    margin-bottom: 2rem;
}



#btn {
    background-color:rgb(165, 43, 43);
    font-size: larger;
    border-radius: 2rem;

}

.inline-element {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: -0.5rem;
    justify-content:flex-end;

}

.inline-element a {
    padding: 2rem 1rem;
    font-size: large;
    color:black;
    text-decoration:none;


}

.nav-bar {
    background-color: rgb(165, 43, 43);
}

.quizForm {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#output {
    font-size: xx-large;
    text-align: center;
    border: 2px solid black;
    max-width: fit-content;
    margin:auto;
    background-color:rgb(165, 43, 43);
}